{% extends 'base.html' %}
{% load static %}
{%block title%} Register{%endblock%}
{%block body %}
    
    




 
<div class="main">
    <center>
    <div class="container">
        
        <form method="POST" class="appointment-form" id="appointment-form" action="{% url 'homepage' %}">
            signup
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <button type="submit">Sign Up</button>
            <p>Already have an account? <a href="{% url 'mylogin'%}">Login</a></p>
        </form>
    
    </div>
</center>
</div>
<!-- signup.html 

<form method="POST">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <button type="submit">Sign Up</button>
    <p>Already have an account? <a href="{% url 'mylogin'%}">Login</a></p>
</form>
-->

<link rel="stylesheet" href="{% static 'sign/css/style.css' %}">

    <script src="{% static 'sign/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'sign/js/main.js' %}"></script>


<link rel="stylesheet" href="{% static 'sign/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

{%endblock%}